name: Build

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler:
          - 4.12.0

    steps:
      - name: Install external dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -y install gcc wget cmake

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Setup opam switch
        run: |
          opam switch create ${{ matrix.ocaml-compiler }}
          opam update
          opam install -y ocamlfind graphics num
          eval $(opam env)
          echo "OPAM_SWITCH_PREFIX=$OPAM_SWITCH_PREFIX" >> $GITHUB_ENV
          echo "CAML_LD_LIBRARY_PATH=$CAML_LD_LIBRARY_PATH" >> $GITHUB_ENV
          echo "OCAML_TOPLEVEL_PATH=$OCAML_TOPLEVEL_PATH" >> $GITHUB_ENV
          echo "PKG_CONFIG_PATH=$PKG_CONFIG_PATH" >> $GITHUB_ENV
          echo "$HOME/.opam/${{ matrix.ocaml-compiler }}/bin" >> $GITHUB_PATH
          echo "$HOME/work/rml/rml/_opam/bin" >> $GITHUB_PATH
          echo XXXXXXXX
          ocamlc -v
          which ocamlfind
          echo XXXXXXXX

      - name: Install ReactiveML
        run: |
          ./configure --prefix $HOME/.local
          make
          make install
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          echo XXXXXXXX
          ocamlc -v
          which ocamlfind
          echo XXXXXXXX

      - name: Build all examples
        run: |
          echo XXXXXXXX
          ocamlc -v
          which ocamlfind
          $HOME/.local/bin/rmlc -v
          echo XXXXXXXX
          cd examples
          make
